######  #######
#     # #     #
#     # #     #
#     # #     #
#     # #     #
#     # #     #
######  #######

#     # ####### #######
##    # #     #    #
# #   # #     #    #
#  #  # #     #    #
#   # # #     #    #
#    ## #     #    #
#     # #######    #

 #####  #     # ####### #     #
#     # #     # #     # #  #  #
#       #     # #     # #  #  #
 #####  ####### #     # #  #  #
      # #     # #     # #  #  #
#     # #     # #     # #  #  #
 #####  #     # #######  ## ##

####### #     #
#     # ##    #
#     # # #   #
#     # #  #  #
#     # #   # #
#     # #    ##
####### #     #

 #####  ####### ######  #######    #    #     #
#     #    #    #     # #         # #   ##   ##
#          #    #     # #        #   #  # # # #
 #####     #    ######  #####   #     # #  #  #
      #    #    #   #   #       ####### #     #
#     #    #    #    #  #       #     # #     #
 #####     #    #     # ####### #     # #     #











































[DEFAULT]
# Camera authentication credentials
username = admin
password = your_password_here

# Hashed authentication values from HAR files
# These values are specific to your camera - extract them from browser HAR files
userid = sample1234
passwd_hash = sample1234